@model WebMVC.ViewModels.Books.Responses.BookIndexVm

@{
    ViewBag.Title = "Home";
}
<div class="text-center">
    <h1 class="display-4">Welcome Customer</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div>
        @{
            await Html.RenderPartialAsync("_Catalog", Model);
        }
    </div>
</div>
@section Scripts
{
    <style>
        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }
    </style>
    
    <script>
     function AddToCart(productId) {
                
            
                       var url = '@Url.Action("AddItemToCart", "Cart")'
                             $.ajax({
                            type: "POST",
                            contentType: 'application/json',
                            url: url,
                            data: JSON.stringify({ productId: productId}),
                            success: () => 
                            {
                                             console.log("Add item to cart")
                                             $.ajax({
                                                     url: "@Url.Action("RefreshViewComponent","Cart")",
                                                    
                                                         method: "GET",
                                                         success: function (data) {
                                                            $("#cart-navbar-item").html(data)                                      
                                                         }
                                                     });
                                                 }
               
                            })       
                                 }
    </script>
}
