@model WebMVC.ViewModels.Categories.Responses.CategoryIndexVm

@{
    ViewBag.Title = "Category management";

}


<div class="col-md-12 col-md-push-1">
    <h3 class="text-center">@ViewBag.Title</h3>
    <!--Title-->
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form asp-action="Index" method="get">
                    <div class="col-12 d-flex justify-content-center text-center">
                        <div class="">

                            Find by name: <input type="text" name="SearchString" />|
                            <button style="margin-bottom:0" type="submit" class="btn btn-default">Search</button>
                            <a asp-action="Index" asp-controller="Category" asp-area="StoreOwner">Back to Full List</a>
                        </div>
                    </div>
                </form>
            </div><!-- end col-xs-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">
                    <a asp-action="Create" asp-controller="Category" class="btn btn-success text-white">
                        <i class="fas fa-random"></i> New Category
                    </a>
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Categories.Any())
            {
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                    </tr>
                }
            }
            else
            {
                <tr>No values ...</tr>
            }
        </tbody>
    </table>
</div>


<script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
</script>