@model WebMVC.ViewModels.Books.Responses.BookIndexVm

@{
    ViewBag.Title = "Book management";

}
<div class="container">
    <div>
        @{
            await Html.RenderPartialAsync("Book/_BookIndexPartial", Model);
        }
    </div>
</div>


